<span>already have an account? </span> <a routerLink="login" class="link-primary">Log In</a>
<div style="margin-left: 25%; margin-right: 25%;" >
<div class="card text-center" style="width: 100%;" >
  <div class="card-body">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" >Intern</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Supervisors</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="font-size: xx-large;">WOLCOME INTERN!</h5>
    <p class="card-text" style="font-size:larger;">You have reached a system designed for medical interns, to log in you must register or log in with a password that will be sent to your cell phone.</p>
    <br>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary" routerLink="register">REGISTER NOW</button>
  </div>
</div>

<br>

<img width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB653NFTKOcjlktm0-2qVAAEObGAXH0YbubY20dNwCV2Ve_JCuXMJAYNAgR5wuWDdjXYw&usqp=CAU" >
</div>


