<app-header></app-header>
<div class="container m-5">
    <h1>Wolcome, Intern!</h1>
    
<form class="row"(ngSubmit)="onSubmit()" #internModelForm="ngForm">
    <div class="col-4">
          <label>ID number</label>
          <input type="text" [(ngModel)]="intern.ID" name="id" class="form-control" required #id_="ngModel">
        </div>
        <div class="col-4">
          <label>Full Name</label>
          <input type="text" [(ngModel)]="intern.fullName" name="fullName" class="form-control" required #fullName="ngModel">
        </div>
        <div class="col-4">
          <label>passport</label>
          <input type="text" [(ngModel)]="intern.passport" name="passport" class="form-control" #passport="ngModel">
        </div>
        <div class="col-4">
              <div class="input-group mt-3">
                    <span class="input-group-text">+972</span>
                    <input name="phone" [(ngModel)]="intern.phone" type="number" class="form-control" >
                  </div>
         </div>
         <div class="col-6; m-5">     
        <input [disabled]="!internModelForm.form.valid" type="submit"  class="btn btn-primary" style="width: 150px; height: 60px; margin-left: 39%;" value="continue">
      </div>     
      </form>
    </div>
    <br>
    <br>
    <br>
