<br>
<form class="col-form-label" >
    <label for="id"><h3>ID Number</h3></label>
    <br>
<input class="input" id="id" style="width: 20%;" class="form-control" placeholder="input ID" [(ngModel)]="loginIntern.ID" >
<br>
<br>
<br>
<label for="phone"><h3>Phone Number</h3></label>
<br>
<input class="input" id="phone" type="number" style="width: 20%;" class="form-control" placeholder="input Phone" [(ngModel)] ="loginIntern.phone">
<br>
<button type="submit" class="btn btn-primary" >submit</button>
</form>


