<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">SUBJECT</th>
        <th scope="col">SUPERVISOR</th>
        <th scope="col">DATE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>







<!-- <input type="file" (change)="add($event)">
<input type="button" value="download" (click)= "download()">
<input type="button" value="submit" (click)="update()">

 -->
